:root {
    --dark: #3E3E3E;
    --grey: #7A7A7A;
    --white: #FFFFFF;
    --primary-green: #15DB75;
    --bdr-primary: #D3D5DB;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    height: 100vh;
}

.hero {
    padding: 16px;
    width: 50vw;
}

.hero__image{
    position: relative;
    overflow: clip;
    border-radius: 16px;
    height: 100%;
    display: flex;
    justify-content: center;

}

.side__Image{
    height: 100%;
}

.hero__location-tag{
    position: absolute;
    bottom: 0;
    right: 0;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.logo{
   width: 230px;
   height: 40px; 
}

.header{
    color: var(--dark);
    font: 600 32px/40px "Manrope";
}

.paragraph{
    font: 400 16px/24px "Manrope";
}

.paragraph__small{
    font: 400 14px/20px "Manrope";
}

.color-grey{
    color: var(--grey);
}

.link {
    font: 600 14px/20px "Manrope";
}

.text__container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 440px;
}

.form__logo {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    box-sizing: border-box;
    padding: 16px 0px 16px 16px;
}

label {
    font: 500 16px/24px "Manrope";
    color: var(--dark);
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--bdr-primary);
    box-sizing: border-box;
    font: 400 16px/24px "Manrope";
    color: var(--dark);

}

button[type="submit"] {
    background-color: var(--primary-green);
    font: 500 16px/24px "Manrope";
    color: #FFFFFF;
    width: 100%;
    padding: 12px;
    border: 0px;
    border-radius: 10px;
    margin-top: 24px;
}

button[type="submit"]:hover{
    background-color: #12B661;
    cursor: pointer;
}